/* Estilos para MovieDetail */
.movie-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .movie-detail {
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .movie-detail h2 {
    color: #4285f4;
  }
  
  .movie-detail p {
    color: #333;
    margin-bottom: 10px;
  }